In [1]:
# C:\multi_final\data

In [15]:
import pandas as pd
import os

In [16]:
# CSV 파일들이 있는 폴더 경로
folder_path = 'C:\\multi_final\\data'

In [17]:
# 폴더 내 모든 CSV 파일 목록 가져오기
csv_files = [file for file in os.listdir(folder_path) if file.endswith('.csv')]
csv_files

['07월.csv',
 '08월.csv',
 '09월.csv',
 '10월.csv',
 '11월.csv',
 '12월.csv',
 '1월.csv',
 '2월.csv',
 '3월.csv',
 '4월.csv',
 '5월.csv',
 '6월.csv']

In [18]:
# 폴더 내 모든 CSV 파일 목록 가져오기
csv_files = [file for file in os.listdir(folder_path) if file.endswith('.csv')]

# 결합할 DataFrame 초기화
combined_csv = pd.DataFrame()

In [20]:
# 각 파일 처리
for i, file in enumerate(csv_files):
    file_path = os.path.join(folder_path, file)
    temp_csv = pd.read_csv(file_path, encoding='cp949')
    
    # '10월.csv', '11월.csv', '12월.csv' 파일에서 '강수량' 칼럼 삭제
    if file in ['4월.csv', '5월.csv', '6월.csv', '7월.csv', '8월.csv', '9월.csv'] and '강수량' in temp_csv.columns:
        temp_csv = temp_csv.drop(columns=['강수량'])
    
    # 첫 번째 파일인 경우 칼럼명 포함하여 결합 DataFrame에 추가
    if i == 0:
        combined_csv = temp_csv
    # 그 외의 경우 칼럼명 무시하고 데이터만 결합 DataFrame에 추가
    else:
        combined_csv = pd.concat([combined_csv, temp_csv], ignore_index=True)

# 결합된 데이터를 새로운 CSV 파일로 저장
combined_csv.to_csv('combined_2022.csv', index=False, encoding='utf-8-sig')

In [22]:
combined_csv

,일시,대여소번호,대여소명,시간대,거치대수량,addr1,addr2,기온,강수형태,강수량,총생활인구수,stationName,강수
0,20220701,1153,"1153. 발산역 1번, 9번 인근 대여소",0,0,가양1동,강서구,29.799999,0.0,0.0,42522.3257,NaN,NaN
1,20220701,2701,2701. 마곡나루역 5번출구 뒤편,0,0,가양1동,강서구,29.799999,0.0,0.0,42522.3257,NaN,NaN
2,20220701,2715,2715.마곡나루역 2번 출구,0,0,가양1동,강서구,29.799999,0.0,0.0,42522.3257,NaN,NaN
3,20220701,2721,2721.등촌1-10단지 교차로,0,12,가양1동,강서구,29.799999,0.0,0.0,42522.3257,NaN,NaN
4,20220701,2728,2728.마곡나루역 3번 출구,0,17,가양1동,강서구,29.799999,0.0,0.0,42522.3257,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
78685,2022-06-30,3798,3798. 그랜드아이파크아파트 앞,19,21,화곡6동,강서구,23.500000,0.0,NaN,19466.9778,NaN,NaN
78686,2022-06-30,3798,3798. 그랜드아이파크아파트 앞,20,21,화곡6동,강서구,23.799999,0.0,NaN,20816.4407,NaN,NaN
78687,2022-06-30,3798,3798. 그랜드아이파크아파트 앞,21,22,화곡6동,강서구,24.600000,0.0,NaN,21422.5397,NaN,NaN
78688,2022-06-30,3798,3798. 그랜드아이파크아파트 앞,22,23,화곡6동,강서구,26.799999,0.0,NaN,22075.6615,NaN,NaN
78689,2022-06-30,3798,3798. 그랜드아이파크아파트 앞,23,28,화곡6동,강서구,27.500000,0.0,NaN,23629.5502,NaN,NaN

In [25]:
import pandas as pd

# 결합된 CSV 파일 읽기
df = pd.read_csv("C:\\multi_final\\combined_2022.csv")

df

C:\Users\hyeon\AppData\Local\Temp\ipykernel_10628\3667253756.py:4: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("C:\\multi_final\\combined_2022.csv")

,일시,대여소번호,대여소명,시간대,거치대수량,addr1,addr2,기온,강수형태,강수량,총생활인구수,stationName,강수
0,20220701,1153,"1153. 발산역 1번, 9번 인근 대여소",0,0,가양1동,강서구,29.799999,0.0,0.0,42522.3257,NaN,NaN
1,20220701,2701,2701. 마곡나루역 5번출구 뒤편,0,0,가양1동,강서구,29.799999,0.0,0.0,42522.3257,NaN,NaN
2,20220701,2715,2715.마곡나루역 2번 출구,0,0,가양1동,강서구,29.799999,0.0,0.0,42522.3257,NaN,NaN
3,20220701,2721,2721.등촌1-10단지 교차로,0,12,가양1동,강서구,29.799999,0.0,0.0,42522.3257,NaN,NaN
4,20220701,2728,2728.마곡나루역 3번 출구,0,17,가양1동,강서구,29.799999,0.0,0.0,42522.3257,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
78685,2022-06-30,3798,3798. 그랜드아이파크아파트 앞,19,21,화곡6동,강서구,23.500000,0.0,NaN,19466.9778,NaN,NaN
78686,2022-06-30,3798,3798. 그랜드아이파크아파트 앞,20,21,화곡6동,강서구,23.799999,0.0,NaN,20816.4407,NaN,NaN
78687,2022-06-30,3798,3798. 그랜드아이파크아파트 앞,21,22,화곡6동,강서구,24.600000,0.0,NaN,21422.5397,NaN,NaN
78688,2022-06-30,3798,3798. 그랜드아이파크아파트 앞,22,23,화곡6동,강서구,26.799999,0.0,NaN,22075.6615,NaN,NaN
78689,2022-06-30,3798,3798. 그랜드아이파크아파트 앞,23,28,화곡6동,강서구,27.500000,0.0,NaN,23629.5502,NaN,NaN